
.el-carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.el-carousel__item.is-active {
  z-index: 2;
}

.el-carousel__item.is-animating {
  transition: transform 0.4s ease-in-out;
}

.el-carousel__item--card {
  width: 50%;
  transition: transform 0.4s ease-in-out;
}
.el-carousel__item--card.is-in-stage {
  cursor: pointer;
  z-index: 1;
}
.el-carousel__item--card.is-in-stage:hover .el-carousel__mask, .el-carousel__item--card.is-in-stage.is-hover .el-carousel__mask {
  opacity: 0.12;
}
.el-carousel__item--card.is-active {
  z-index: 2;
}

.el-carousel__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.24;
  transition: 0.2s;
}
